name: Test 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-16.04, ubuntu-18.04, macos-latest]
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade cython
        pip install numpy jupyter jupyter_contrib_nbextensions
        python setup.py install

    - name: Install Lightgbm for MacOS
      if: runner.os == 'macOS'
      run: |
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Microsoft/qlib/main/.github/brew_install.sh)"
        HOMEBREW_NO_AUTO_UPDATE=1 brew install lightgbm

    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black pytest

    - name: Lint with Black
      run: |
        cd ..
        python -m black qlib -l 120 --check --diff

    - name: Unit tests with Pytest
      run: |
        cd tests
        pytest . --durations=0

    - name: Test data downloads
      run: |
        python scripts/get_data.py qlib_data --target_dir ~/.qlib/qlib_data/cn_data --interval 1d --region cn

    - name: Test workflow by config
      run: |
        qrun examples/benchmarks/GBDT/workflow_config_gbdt.yaml
